div.definition {
    background-color: lightblue;
    margin-left: 2em;
    margin-right: 2em;
    border: 2px solid blue;
}

div.theoreme {
    background-color: gold;
    margin-left: 2em;
    margin-right: 2em;
    border: 2px dashed brown;
    margin-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

div.theoreme div.nom:first-child:before {
    font-weight: bold;
    content: "Théorème - ";
}

div.theoreme div.nom:first-child {
    position:relative;
    left: -1.5em;
    top: -1em;
    background-color: lemonchiffon;
    border: 2px solid brown;
    padding: 1em;
    margin-left: 0;
    margin-right: auto;
}
