header {
    display: flex;
    background-color: lightgray;
    padding: 20px;
}

header h1 {
    margin: auto;
    font-size: 48px;
    font-weight: bold;
}

#reflexion {
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 0;
    text-align: center;
}

#jeu {
    display:flex;
}

#plateau {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#plateau table {
    border: 4px solid blue;
    border-collapse: collapse;
}

#plateau td {
    border: 1px dashed blue;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    user-select: none;
}

.pion {
    margin: 2px;
    width:46px;
    height:46px;
    background:yellow;
    border:1px solid gold;
    border-radius: 50%;
    opacity: 0;
}

.pion-info {
    margin: 2px;
    width:26px;
    height:26px;
    background:yellow;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 5px;
}

#info {
    position: fixed;
    right: 0;
    /*display: flex;*/
    background-color: lightgray;
    padding: 10px;
    border: 2px solid black;
    margin-top: 50px;
    margin-right: 20px;
}

#courant {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

#commandes {
    display: flex;
}

#commandes #bouttons {
    margin: auto;
}

#bouttons input {
    margin: auto;
}

footer {
    display: flex;
    background-color: lightgray;
    width: 100%;
    padding: 10px;
    margin-top: 50px;
}

#copyright {
    margin: auto;
    color: gray;
}

#victoire-fond {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#victoire-boite {
    background-color: lightgray;
    margin: 15% auto;
    padding: 20px;
    border: 3px solid darkgray;
    width: 60%;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    display: flex;
}

#victoire-boite p {
    margin: auto;
}
