body {
  background-color: lemonchiffon;
  box-sizing: border-box;
}

div#fond {
  background-image: url(html_css_js.png);
  background-size: 40%;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1; /* on veut que le fond soit... au fond */
  opacity: 25%;
}

div#contenu {
  background-color: white;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
  border: 2px solid gold;
  padding: 10px;
}

header {
  background-image: linear-gradient(#ffee00, #bb9900);
  height: 80px;
  display: flex;
}

header a, header h1 {
  margin: auto;
  color: brown;
  text-decoration: none;
}

h1 {
    color: brown;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

#contenu p  {
  text-indent: 1em;
  text-align: justify;
}

nav {
  display: flex;
  background-image: linear-gradient(#bb9900, #ffee00);
}

nav ul {
  list-style-type: none;
  margin: auto;
}

nav li {
  position: relative;
  list-style-type: none;
  width: 150px;
  display: inline-block;
  padding: 10px;
  text-align: center;
}

nav li:hover {
  background-color: yellow;
  border: 1px solid gold;
}

nav a {
  text-decoration: none;
  color: brown;
}

.boite {
    background-color: gold;
    border: 2px dashed brown;
    margin: 10px;
    box-sizing: border-box;
    overflow: auto;
    padding: 5px;
    background-image: radial-gradient(#ffff00, #885500);
}

#b1 {
    /* height: 100px; */
}

#b2 {
    float: left;
    width: calc(30% - 20px);
    height: 200px;
}

#b3 {
    float: left;
    width: calc(70% - 20px);
    height: 200px;
}

#b4 {
    clear: left;
    float: left;
    width: calc(60% - 20px);
    /* height: 150px; */
}

#b5 {
    float: left;
    clear: none;
    width: calc(40% - 20px);
    /* height: 150px;*/
}

#b6 {
}

div.definition, div.theoreme {
    background-color: lightblue;
    margin-left: 2em;
    margin-right: 2em;
    border: 2px dotted blue;
    border-radius: 10px;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 2em;
}

div.definition p, div.theoreme p {
    clear: left;
    text-indent: 0px;
}

div.definition div.nom:first-child:before {
    font-weight: bold;
    content: "Définition - ";
}

div.definition div.nom:first-child {
    float: left;
    position: relative;
    top: -1em;
    background-color: #eeeeff;
    border: 2px dotted blue;
    padding: 5px;
}

div.theoreme {
    background-color: gold;
    border: 2px dotted brown;
}

div.theoreme div.nom:first-child:before {
    font-weight: bold;
    content: "Théorème - ";
}

div.theoreme div.nom:first-child {
    position:relative;
    float: left;
    top: -1em;
    background-color: lemonchiffon;
    border: 2px dotted brown;
    padding: 5px;
}

.mot-clef {
    font-weight: bold;
    border: 0px dotted black;
    box-sizing: border-box;
}

.mot-clef:hover {
    border-width: 2px;
}

div.demonstration {
    background-color: lightgreen;
    border: 1px dashed green;
    color: darkgreen;
    font-size-adjust: 0.4;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.demonstration p:first-child:before {
    font-weight: bold;
    content: "Démonstration: ";
}
